@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.keyboard-frame {
  container-type: inline-size;
}

.keyboard {
  --keyboard-key-size: 6.2015504cqw;
  --keyboard-gap: 0.7751938cqw;
  --keyboard-padding: clamp(0.125rem, 0.7751938cqw, 0.5rem);
  --keyboard-radius: clamp(0.2rem, 0.5813953cqw, 0.375rem);
  --keyboard-text: clamp(0.65rem, 1.9379845cqw, 1.25rem);
  --keyboard-shift-text: clamp(0.5rem, 1.3565891cqw, 0.875rem);
  --keyboard-special-text: clamp(0.4rem, 1.2403101cqw, 0.8rem);
  --keyboard-arrow-text: clamp(0.5rem, 1.1627907cqw, 0.75rem);

  gap: var(--keyboard-gap);
  width: 100cqw;
}

.keyboard-row {
  gap: var(--keyboard-gap);
}

.keyboard-key,
.keyboard-special-key,
.keyboard-split-key {
  height: var(--keyboard-key-size);
}

.keyboard-key,
.keyboard-split-key,
.keyboard-special-key--standard {
  width: var(--keyboard-key-size);
}

.keyboard-key {
  border-radius: var(--keyboard-radius);
  font-size: var(--keyboard-text);
  padding: var(--keyboard-padding);
}

.keyboard-key-shift-text {
  font-size: var(--keyboard-shift-text);
}

.keyboard-special-key {
  border-radius: var(--keyboard-radius);
  font-size: var(--keyboard-special-text);
  padding: var(--keyboard-padding);
}

.keyboard-special-key--wide {
  width: 9.3023256cqw;
}

.keyboard-special-key--extraWide {
  width: 11.2403101cqw;
}

.keyboard-special-key--shift {
  width: 14.7286822cqw;
}

.keyboard-special-key--command {
  width: 7.751938cqw;
}

.keyboard-special-key--space {
  width: 34.1085271cqw;
}

.keyboard-split-key {
  font-size: var(--keyboard-arrow-text);
}

@container (max-width: 30rem) {
  .keyboard-special-key--has-icon .keyboard-special-key-icon {
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .keyboard-special-key--has-icon .keyboard-special-key-label {
    display: none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
